header{
    width:100%;
    height:35px;
    position:fixed;
    top:0;
    left:0;
    background: darkslategray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer{
    font-weight: bolder;
    font-family: monospace;
    font-size:120%;
    text-align: end;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 20px;
    height: 30px;
    letter-spacing: -2px;
    padding-right: 10px;
}

#menu{
    background: darkslategray;
    text-align: center;
    padding: 5px 15px;
    line-height: 1.5;
    border-radius: 3px;
    overflow: auto;
    font-weight: bolder;
    font-family: monospace;
    font-size:120%;
}
#loggedUser{
    padding-left: 10px;
    color:white;
}
#linkCreateBook, #linkListBooks {
    letter-spacing: -2px;
    word-spacing: -5px;
    padding-right: 10px;
}

#linkCreateBook, #linkListBooks, #linkRegister, #linkLogin, #linkLogout {
    color: #d6e9c6;
}
#linkHome {
    float:left;
    color: #4CAF50;
    font-weight: 900;
    padding-left: -25px;
}

#linkRegister {
    padding-right: 10px;
}
#quote{
    margin-top: 50px;
    text-align: center;

    font-weight: bolder;
    font-family: monospace;
    font-size:140%;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    letter-spacing: -2px;


}
main > section {
    display: none;
    padding: 20px 5px;
}
section h1 {
    margin: 10px 0px;
    font-size: 1.2em;
}

table th {

    padding: 10px;
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,0.75);
}

table td {
    padding: 5px 10px;

    text-align: center;
    vertical-align: top;
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,0.75);



}
/*info box*/
#infoBox, #errorBox, #loadingBox {
    position: fixed;
    padding:2px;
    display: none;
    width: 15%;
    margin: 45px 42%;
    color: white;
    text-align: center;
    border-radius: 1px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 120%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}


/*Login formite*/


#viewLogin {
    width: 320px;
    padding: 6% 0 0;
    margin: auto;
}
#formLogin {
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: auto;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#formLogin input {

    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#formLogin button {
    font-weight: bolder;
    font-family: monospace;
    background: darkslategray;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -5%;
    padding: 12px;
    color: #FFFFFF;
    font-size: 120%;
    cursor: pointer;
}
#pleaseLogin{
    margin: -20px 0 15px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 120%;
}


/*Register Formite*/


#viewRegister {
    width: 320px;
    padding: 6% 0 0;
    margin: auto;
}
#formRegister {
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: auto;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#formRegister input {

    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#formRegister button {
    font-weight: bolder;
    font-family: monospace;
    background: darkslategray;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -5%;
    padding: 12px;
    color: #FFFFFF;
    font-size: 120%;
    cursor: pointer;
}
#pleaseRegister{
    margin: -20px 0 15px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 120%;
}

/*formi za addvane na knigi*/
#viewCreateBook {
    width: 460px;
    padding: 6% 0 0;
    margin: auto;
    letter-spacing:-1px;
    word-spacing: -5px;
}
#formCreateBook {
    position: relative;
    background: #FFFFFF;
    max-width: 360px;
    margin: auto;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#crtbook{
    margin: -20px 0 15px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 150%;
}
#updbook, #updimage, #updname, #updgenre, #updpages{
    font-weight: bolder;
    font-family: monospace;
    font-size: 120%;
    padding: 3px;
}

#genre {
    font-weight: bolder;
    font-family: monospace;
    font-size: 120%;
}


#buttonCreateBook {
    font-weight: bolder;
    font-family: monospace;
    background: darkslategray;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -5%;
    padding: 12px;
    color: #FFFFFF;
    font-size: 120%;
    cursor: pointer;
}
/*search formite*/
#formSearchName{
    float: left;
    margin-right: 20px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 120%;
    margin-left: 400px;
    margin-bottom: 10px;
    margin-top: 50px;
}
#inputNameSearch{
    width: 250px;
}
#submitNameSearch{
    font-weight: bolder;
    font-family: monospace;
    background: #67b168;
    width: 250px;
    /*  margin-top: 10px;
      margin-bottom: -5%;
      padding: 5px;
      color: #FFFFFF;
      font-size: 80%;
      cursor: pointer;*/
}

#formSearchGenre{
    float: left;
    clear: right;
    font-weight: bolder;
    font-family: monospace;
    font-size: 120%;
    margin-bottom: 10px;
    margin-top: 30px;
}
#inputGenreSearch{
    width: 250px;
}
#submitGenreSearch{
    font-weight: bolder;
    font-family: monospace;
    background: #67b168;
    width: 250px;
    /*   margin-top: 10px;
       margin-bottom: -5%;
       padding: 5px;
       color: #FFFFFF;
       font-size: 80%;
       cursor: pointer;*/
}
/*tablici text*/
#books{
    font-weight: bolder;
    font-family: monospace;
    color: #0f0f0f;
    font-size: 140%;
}
/*headeri pri tablicite*/
#bk, #bk1, #bk2{
    font-weight: bolder;
    font-family: monospace;
    color: #0f0f0f;
    font-size: 140%;
    letter-spacing: -2px;
}

#bk {
    margin-top: 90px;
}



