header{
    width:100%;
    height:30px;
    position:fixed;
    top:0;
    left:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#menu{
    display: block;
    text-align: center;
    padding: 4px 15px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 120%;
}

#linkHome{
float:left;
}

#linkRegister {
padding-right: 10px;
}


/*
#menu {
    background: #DDD;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    border-radius: 3px;
    overflow: auto;
}


#menu a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#menu a:hover {
    background: #BBB;
}
*/

main > section {
    display: none;
    padding: 20px 5px;
}

section h1 {
    margin: 10px 0px;
    font-size: 1.2em;
}



table th {
    background: #DDD;
    padding: 10px;
}

table td {
    padding: 5px 10px;
    background: #EEE;
    text-align: center;
    vertical-align: top;

}



#infoBox, #errorBox, #loadingBox {
    display: none;
    width: 15%;
    margin: 45px auto;
    color: white;
    text-align: center;
    padding: 2px;
    border-radius: 1px;
    font-weight: bolder;
    font-family: monospace;
    font-size: 120%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}


